<div class="bg-image"></div>
<app-best-seller></app-best-seller>

<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon>storefront</mat-icon> BakeBite
    </a>
    <ul>
      <li><a (click)="scrollToSection('about')">About Us</a></li>
      <li><a (click)="scrollToSection('contact')">Contact Us</a></li>
      <li><a (click)="loginAction()">Login</a></li>
      <li><a (click)="signupAction()">Signup</a></li>
      <li><a (click)="forgotPasswordAction()">Forgot Password?</a></li>
    </ul>
  </nav>
</div>

<div class="about-section" id="about">
  <h2>About Us</h2>
  <p>Welcome to BakeBite! We are passionate about serving the best coffee and snacks. 
     Our cafe is designed to offer a relaxing atmosphere for you to enjoy quality time with friends and family.</p>
  <p>We believe in using high-quality ingredients and sustainable practices to bring you the best experience.</p>
</div>

<div class="contact-section" id="contact">
  <h2>Contact Us</h2>
  <p>If you have any questions or need assistance, feel free to reach out:</p>
  <p>Email: support@bakebite.com</p>
  <p>Phone: 7204448771</p>
  <p>Address: #609/A,Ground Floor,9th Phase,7th block
    Raghavan Palya,J.P Nagar,Bangalore-560062
  </p>
</div>

<div class="footer" id="signup">
  
  <h2>All right reserved @BakeBite</h2>
</div>